* {
    margin: 0;
    padding: 0;
}

body {
    background-color: deeppink;
}


.el1 {
    width: 500px;
    height: 600px;
    background: linear-gradient(to right, darkred, palevioletred);
}

.el2 {
    border-radius: 100%;

    width: 200px;
    height: 200px;
    background: linear-gradient(dodgerblue, black);
    float: right;
    margin-top: -100px;
}

.el3 {
    width: 100vw;
    height: 100px;
    background: linear-gradient(to top, rebeccapurple, lightpink);
    margin-top: 20px;
}

.el4 {
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 200px;
    width: 200px;
    height: 50vh;
    background: linear-gradient(to bottom, white, black);
}

.el5 {
    width: 800px;
    height: 100px;
    background: linear-gradient(to left, lightblue, darkblue);
    float: right;
    margin-top: 100px;
}

.el6 {
    border-radius: 100%;
    width: 900px;
    height: 100vh;
    background: linear-gradient(to top, purple, white);
    float: right;
}

.el7 {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 500px;
    background: linear-gradient(to right, pink, white);
    margin-left: 900px;
}

.el8 {
    position: absolute;
    top: 0;
    right: 200px;
    width: 100px;
    height: 800px;
    background: linear-gradient(to bottom, pink, white);
}

.el9 {
    width: 80vw;
    height: 400px;
    background: linear-gradient(to right, lightyellow, coral);
    float: right;
    margin-top: 100px;
}

.el10 {
    border-radius: 100%;
    position: absolute;
    width: 900px;
    height: 300px;
    background: linear-gradient(to right, green, yellow);
    right: 100px;
    bottom: 250px;
}